body {
    .main-row {
        margin: 140px 10px;
    }
    .form-card {
        width: fit-content;
        display: flex;
        justify-content: center;
        i {
            font-size: 2rem;
            color: blue;
            cursor: pointer;
        } 
    }
    .activity-card {
        .card-title {
            color: red;
            font-size: 1.5rem;
            i {
                color: lightslategray;
                cursor: pointer;
                float: right;
            }
        }
        .card-subtitle {
            color: lightseagreen;
        }
        .days {
            margin-top: 25px;
            .btn {
                margin: 5px;
                color: black;
                border-color: white;
            }
            .save {
                margin-top: 10px;
                color: #fff;
                background-color: #311B92;
            }
        }
    }
    .modal {
        .modal-body {
            h6 {
                padding: 10px;
                margin-top: 10px;
                span {
                    width: fit-content;
                    border-radius: 50px;
                    background-color: rgb(57, 57, 218);
                    padding: 5px 12px;
                    color: white;
                }
            }
            .btn {
                font-size: larger;
                font-weight: bold;
                margin: 10px;
            }
            .months {
                .form-check {
                    margin: 8px;
                }
            }
        }
    }
}