body {
    .card {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 250px;
        i {
            font-size: 2rem;
            color: blue;
            cursor: pointer;
        }
        .activity_card {
            .card {
                width: 35%;
                .card-title {
                    color: #f4118c;
                    font-size: 1.5rem;
                }
            }
            .days {
                margin: 25px 0px;
                i {
                    font-size: 1.7rem;
                    float: right;
                    color: #9e9e9e;
                }
                .btn {
                    margin: 5px;
                    color: black;
                    border-color: white;
                }
            }
            .save {
                color: #fff;
                background-color: #311B92;
            }
        }
    }
    .modal {
        .modal-body {
            h6 {
                padding: 10px;
                margin-top: 10px;
                span {
                    width: fit-content;
                    border-radius: 50px;
                    background-color: rgb(57, 57, 218);
                    padding: 5px 12px;
                    color: white;
                }
            }
            .btn {
                font-size: larger;
                font-weight: bold;
                margin: 10px;
            }
            .months {
                .form-check {
                    margin: 8px;
                }
            }
        }
    }
}